<!DOCTYPE html>
<html>
<head>
  <title>New theme</title>
</head>
<body>
<h2>{{abe type='text' key='title' desc='title' group='Description'}}</h2>
<img src="{{abe type='link' key='thumbnail' desc='thumbnail url' group='Description'}}"/>
<p>{{abe type='rich' key='description' desc='description' group='Description'}}</p>
<p><a href="{{abe type='link' key='demo' desc='demo url' group='Description'}}">Demo</a></p>
<p><a href="{{abe type='link' key='download' desc='download url' group='Download'}}">Theme url</a></p>
<hr/>
<h3>{{abe type='text' key='author' desc='author' group='Author'}}</h3>
<p>Demo: <a href="{{abe type='link' key='homepage' desc='homepage' group='Author' reload='true'}}">{{homepage}}</a></p>

<a href="{{abe type='link' key='license_link' desc='license link' group='Licence' order='150'}}">{{abe type='text' key='license' desc='license' group='Licence' order='140'}}</a>
</body>
</html>